body {
  margin: 0;
  font-size: 20px;
  font-family: serif;
}
header {
  height: 50px;
  background-color: black;
}
.navBar {
  text-align: center;
}
.styles {
  border: 1px solid turquoise;
  width: 350px;
  height: 300px;
  margin: 30px;
  display: inline-block;
  justify-content: space-between;
  text-align: center;
}
.stationinfo {
  border: 2px solid black;
  width: 400px;
  height: 400px;
  margin: 100px 100px;
  border-radius: 5px;
  /* margin-bottom: 10px;
  margin-right: 5px; */
  position: relative;
  text-align: center;
  justify-self: end;
  /* padding: 20px;
  margin: auto; */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
